<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alayesanmifemi.mlforensic">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard_Activity"
            android:label="Dashboard" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".CaseHistory_Activity"
            android:label="@string/title_activity_case_history" />
        <activity
            android:name=".CaseDetail_Activity"
            android:label="@string/title_activity_case_details_" />
        <activity
            android:name=".Profile_Activity"
            android:label="@string/title_activity_profile_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".DocumentCaseActivity" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AppInfo"
            android:label="@string/title_activity_app_info"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>